.profile {
   background: lightgray;
  padding: 10px;
   margin: 10px;
  text-align: center;
 }
.profile h1 {
   font-size: 16px;
   text-transform: uppercase;
 }

 .profile img {
   width: 100px;
   height: 100px;
   border-radius: 50px;
 }
html {
  background: url('https://www.flickr.com/photos/ruburubu/15553105731/in/gallery-flickr-72157664581405925/lightbox/') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }